<ul class="list-group list-group-horizontal">
   <li class="list-group-item">
      <google-chart #chart
         [title]="title"
         [type]="type"
         [data]="data"
         [columns]="columnNames"
         [options]="options"
         [width]="width"
         [height]="height">
      </google-chart>
   </li>
   <li class="list-group-item">
      <google-chart #chart
         [title]="title2"
         [type]="type"
         [data]="data2"
         [columns]="columnNames"
         [options]="options"
         [width]="width"
         [height]="height">
      </google-chart>
   </li>
 </ul>
